@media (min-width: 992px) and (max-width: 1199px) {
    .contain-articles-align-l {
        width: calc(70% - 30px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .paternity {
        width: 70%;
        flex-wrap: wrap;
    }

    .paternity__author {
        width: 100%;
    }

    .paternity__reading {
        width: 30%;
    }

    .paternity__views {
        width: 25%;
        margin-left: 0;
        padding-left: 30px;
    }

    .paternity__star {
        width: 25%;
        margin-left: 0;
        padding-left: 30px;
    }

    .date {
        width: 20%;
        margin-top: 0;
    }

    .contain-articles-align-l {
        width: calc(60% - 15px);
    }

    .contain-widget-align-r {
        width: 40%;
    }

    .contain-social {
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    .contain-rate {
        margin-bottom: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .main__section {
        min-height: 530px;
    }

    .contain-slogan {
        margin-top: 85px;
    }

    .contain-paternity {
        margin-top: 85px;
    }

    .paternity {
        flex-direction: column;
        align-items: flex-start;
    }

    .paternity__reading {
        margin-left: 65px;
    }

    .paternity__views {
        margin-left: 65px;
    }

    .contain-articles-align-l {
        width: 100%;
        padding: 0;
    }

    .contain-widget-align-r {
        width: 100%;
    }

    .contain-widget {
        min-width: 100%;
    }

    .contain-banner {
        min-width: 100%;
    }
}


@media (min-width: 0) and (max-width: 575px) {
    .main__section {
        min-height: 530px;
    }

    .contain-slogan {
        margin-top: 55px;
    }

    .contain-paternity {
        margin-top: 55px;
        flex-direction: column;
    }

    .date {
        order: 0;
        margin-bottom: 15px;
    }

    .paternity {
        flex-direction: column;
        align-items: flex-start;
        order: 1;
        margin-bottom: 30px;
    }

    .paternity__reading {
        margin-left: 65px;
    }

    .paternity__views {
        margin-left: 65px;
    }

    .contain-articles-align-l {
        width: 100%;
        padding: 0;
    }

    .contain-widget-align-r {
        width: 100%;
    }

    .contain-widget {
        min-width: 100%;
    }

    .contain-banner {
        min-width: 100%;
    }

    .contain-rate {
        margin-bottom: 30px;
        align-items: center;
    }

    .rate {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rate__text {
        margin-right: 0;
        margin-bottom: 22px;
    }

    .contain-social {
        flex-direction: column;
    }

    .social__text {
        margin-right: 0;
        margin-bottom: 22px;
    }
}
