html body {
    font-family: "MyriadPro-Regular", sans-serif;
}

.container {
    max-width: 1170px;
}

/*main section*/
.main__section {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 600px;
}

.contain-breadcrumb {
    margin-top: 62px;
}

.breadcrumb.aim-breadcrumb {
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}

.aim-breadcrumb .breadcrumb-item a,
.aim-breadcrumb .breadcrumb-item.active {
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.714;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: rgb(255, 255, 255);
    content: "/";
}

.contain-slogan {
    border-left: 1px solid #fff;
    padding-left: 43px;
    margin-top: 175px;
    letter-spacing: 1.45px;
}

.slogan {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.273;
}

.contain-paternity {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.paternity {
    display: flex;
    align-items: center;
}

.paternity__author {
    display: flex;
    align-items: center;
}

.paternity__author_img {
    margin-right: 35px;
}

.paternity__author_img img {
    width: 30px;
    height: auto;
}

.paternity__author_text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.714;
}

.paternity__author_name {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.714;
}

.paternity__reading {
    display: flex;
    margin-left: 63px;
}

.paternity__reading_icon {
    margin-top: -1px;
    margin-right: 20px;
}

.paternity__reading_text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.714;
}

.paternity__reading_time {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.714;
}

.paternity__views {
    display: flex;
    margin-left: 58px;
}

.paternity__views_icon {
    margin-top: -1px;
    margin-right: 20px;
}

.paternity__views_text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.714;
}

.paternity__views_info {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.714;
}

.paternity__star {
    display: flex;
    margin-left: 60px;
}

.paternity__star_img {
    padding: 0 4px;
}

.date {
    display: flex;
    align-items: center;
    margin-top: -30px;
}

.date_day {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.502);
    margin-right: 10px;
}

.date_month {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.1;
}

.date_year {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.1;
}


/*END main section*/

.contain-articles {
    padding: 76px 0;
}

.articles h2 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    padding: 42px 0 47px 25px;
}

.articles h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30px;
}

.articles h3.lit-h {
    margin-top: 55px;
}

.articles h4 {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
}

.articles h5 {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
}


.articles p {
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.articles p span {
    font-size: 16px;
    color: #ac162c;
    line-height: 1.2;
}

.articles p span.imitation-h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
}

.articles img {
    padding: 30px 0 60px;
}

.articles ul {
    margin-top: 57px;
    margin-bottom: 34px;
}

.articles ul li {
    list-style-type: square;
    color: #ac162c;
    margin-left: -25px;
    margin-bottom: 15px;
}

.articles ul span {
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.point-circle-ul {

}

.articles ul li.point-circle::before {
    content: url("../img/point-circle.svg");
    color: #ac162c;
    position: absolute;
    left: 65px;
}

.articles ul li.point-circle {
    list-style-type: none;
    margin-left: 35px;
}


/**/
.col-md-12.contain-article_information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contain-articles-align-l {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 8px;
}

.contain-widget-align-r {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
}

.contain-widget {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 14.4px 0.6px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: auto;
    padding: 50px 50px 25px;
    margin: 60px 0 0;
    max-width: 292px;
}

.widget__head {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 25px;
}

.widget__menu ul {
    list-style-type: none;
    padding-left: 0;
}

.widget__menu ul li {
    margin: 15px 0;
}

.widget__menu ul li a {
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.widget__tag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.widget__tag_a {
    margin: 5px 3px;
}

.widget__tag_a a {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    border-radius: 3px;
    background-color: rgb(231, 231, 231);
    padding: 5px 6px;
}

.news {
    display: flex;
    margin-bottom: 25px;
}

.news__img img {
    width: 64px;
    height: auto;
    margin-right: 15px;
}

.img-fluid.img-inf {
    margin-top: -16px;
    margin-bottom: -10px;
}

.news__text {
    font-size: 13px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.news__data {
    font-size: 13px;
    color: rgb(182, 182, 182);
    line-height: 1.2;
}

.widget__tabs {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
}

.widget__tabs .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    padding: .5rem 1rem .5rem 0;
}

.widget__tabs .nav-link {
    font-size: 20px;
    color: rgb(221, 221, 221);
    text-transform: uppercase;
    line-height: 1.2;
    padding: .5rem 1rem .5rem 0;
}

.contain-banner {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 14.4px 0.6px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: auto;
    margin: 60px 0;
    max-width: 292px;
}

.banner {
    width: 100%;
}

.banner__img img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.contain-banner-inf {
    margin: 50px;
}

.banner__text {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.banner__link {
    margin-top: 40px;
}

.banner__link a {
    font-size: 16px;
    font-weight: 700;
    color: rgb(205, 38, 56);
    line-height: 1.2;
}

.banner__link a:after {
    content: url("../img/arrow-right.svg");
    margin-left: 7px;
}

.contain-rate {
    margin-bottom: 60px;
}

.rate {
    display: flex;
    align-items: flex-end;
}

.rate__text {
    font-size: 14px;
    font-weight: 700;
    color: rgb(44, 44, 44);
    margin-right: 22px;
    letter-spacing: 1.15px;
}

.rate__star {
    display: flex;
    align-items: center;
}

.rate__star_ico {
    padding: 0 3px;
}

.contain-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 60px;
}

.social__text {
    font-size: 14px;
    font-weight: 700;
    color: rgb(44, 44, 44);
    margin-right: 22px;
    letter-spacing: 1.15px;
}

.social__link {
    display: flex;
    align-items: center;
}

.social__link_a a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 9.6px 0.4px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-decoration: none;
    transition: ease-in 270ms;
    margin: 0 10px;
}

.social__link_a a:hover {
    color: #ac162c;
    transition: ease-in 270ms;
}

.appeal__section {
    margin-bottom: 60px;
}