@font-face {
    font-family: "MyriadPro-Regular";
    src: url("Myriad-Pro.eot"); /* IE9 Compat Modes */
    src: url("Myriad-Pro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("Myriad-Pro.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}